@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

body {
  background: url(https://static.wixstatic.com/media/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg/v1/fill/w_1631,h_840,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  margin-top: 2rem;
  padding-left: 3rem;
  margin-right: 5rem;
}
  
div.navbar-menu{
  display: flex;
  justify-content: flex-end;
  position: relative;
}



.navbar-menu a {
  display: flex;
  display: inline-flex;
  top: 0;
  margin-top: -1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-right: 1rem;
  &.btn {
    display: block;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(247, 247, 247);
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    background-color: black;
    border-radius: 0.5rem;
    
  }
}

/* section home  */

section.homesection {
  display: flex;
  justify-content: center;
}

div.home-conent{
  margin-top: 5rem;
  text-align: center;

  & p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

div.home-conent span {
  color: rgb(25, 0, 255);
  
}


