@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Revalia", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  background: none;
}

/* hero wrapper holds the background for header + homesection only */
.hero-wrapper {
  background: url(https://static.wixstatic.com/media/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg/v1/fill/w_1631,h_840,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg) no-repeat center bottom/cover;
  /* background-attachment: fixed; */
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.5rem;
  background: transparent;
}

.heading h1 {
  color: #fff;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  gap: 0.8rem;
}

.navbar-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 0.35rem 0.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu a.btn {
  color: rgb(247, 247, 247);
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

/* section home  */
section.homesection {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding: 3.5rem 2rem 10vh 2rem;
  /* background moved to body so header/navbar can sit on the same image */
}



.home-content {
  margin-top: 0;
  /* controlled by section padding */
  text-align: center;
  width: 100%;
  max-width: 1100px;
  padding: 0 1rem;
  padding-bottom: 17vh;
  /* keep text above the car image */
}

.home-content p {
  margin-top: 1.2rem;
  font-size: clamp(1rem, 1.8vw, 1.4rem);
  color: rgba(0, 0, 0, 0.85);
}

.home-content span {
  color: rgb(25, 0, 255);
}

.home-content h1 {
  font-size: clamp(2rem, 6vw, 3.6rem);
  line-height: 1.05;
  margin: 0 auto;
  max-width: 900px;
  color: rgba(0, 0, 0, 0.95);
  text-align: center;
}


.about-car{
  height: 100%;
  width: 100%;
  background-color:black ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.seccon-wrapper {
 background: url(https://static.wixstatic.com/media/c837a6_ea5eeb99f72d42b0a22f459e01bfd33c~mv2.jpg/v1/fill/w_816,h_840,al_l,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_ea5eeb99f72d42b0a22f459e01bfd33c~mv2.jpg);
 background-position: right bottom;
 background-repeat: no-repeat;

}






.about-car-content {
  max-width: 900px;
  margin: 0 13rem;
  padding-bottom: 14.5rem;
  padding-right: 5rem;
  color: #fff;


}



.about-car-content h6,
.about-car-content h2,
.about-car-content p {
  color: #fff;
  padding: 1rem 2rem 1rem;

}

.about-car-content h2 {
  font-size: 2rem;
  line-height: 2.5ch;
  /* margin: 1rem 0 1.2rem 0; */
  letter-spacing: 5px;
}



.about-car-content p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  line-height: 2.5ch;
  letter-spacing: 2.6px;
}

/* section service */

section.service {
  width: 100%;
  height: 100%;
  
}


div.img-car-service {
  background-image: url(https://static.wixstatic.com/media/84770f_3cc097e7503b4ed498e350c6618ef956~mv2.jpg/v1/fill/w_816,h_680,al_l,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_3cc097e7503b4ed498e350c6618ef956~mv2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  
}


div.top-title {
  display: flexbox;
  padding: 5rem 14rem;
}

.top-title h5 {
  font-size: 28px;
  padding: 2rem 0;
  font-weight: bold;
}

.top-title p {
  letter-spacing: 2.6px;
  font-size: 18px;
  line-height: 2.5rem;
 }

 div.seccon-title {
   display: flexbox;
  padding: 2rem 14rem;
 }

.seccon-title h2 {
  line-height: 2ch;
  padding: 3rem 0;
  font-size: 28px;
  font-weight: bold;
}

.seccon-title p {
  letter-spacing: 2.6px;
  font-size: 15px;
  line-height:30px;
  
}

section.service a {
  margin-left: 14rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) solid 2px;
  background-color: black;
  border-radius: 1.5rem;
}

      /* <!-- section Realtime --> */
section.realtime-informatiom {
  width: auto;
  height: 100%;
  background: url(https://static.wixstatic.com/media/84770f_abca8ce0bac24971a57d1f9d40b8238b~mv2.jpg/v1/fill/w_816,h_680,al_r,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_abca8ce0bac24971a57d1f9d40b8238b~mv2.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.realtime-content .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.realtime-content .content h2 {
  margin-top: 17rem;
  font-size: 3rem;
  padding: 0 15rem;
  letter-spacing: 0.2em;
  text-align: center;
}


.realtime-content .content p {
  max-width: 420px;   /* คุมความกว้าง */
  margin-left: auto;  /* ดันไปขวา */
  margin-right: 19rem;
  margin-top: 8rem;
  padding: 0;
  text-align: right;
  line-height: 1.8;
}

section.realtime-informatiom a {
  margin-top: 2.5rem;
  margin-right: 19rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) solid 2px;
  background-color: black;
  border-radius: 0rem;
}

section.perciton{
  width: auto;
  height: 100%;
  background: url(https://static.wixstatic.com/media/c837a6_305ff8a7722a479ab58f1d4f2729586e~mv2.jpg/v1/fill/w_816,h_680,al_l,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_305ff8a7722a479ab58f1d4f2729586e~mv2.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

section .wrapper {
 /* background: url(https://static.wixstatic.com/media/c837a6_305ff8a7722a479ab58f1d4f2729586e~mv2.jpg/v1/fill/w_816,h_680,al_l,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_305ff8a7722a479ab58f1d4f2729586e~mv2.jpg); */
 background-position: right bottom;
 background-repeat: no-repeat;
}

div.content-perciton {
  max-width: 900px;
  margin: 0 8rem;
  padding:  14.5rem;
  padding-right: 14rem;
  display: block;
  justify-items: center;
}

.content-perciton h2 {
  /* margin-top: 1rem; */
    font-size: 3rem;
  line-height: 2.5ch;
  /* margin: 1rem 0 1.2rem 0; */
  letter-spacing: 5px;
}

.content-perciton p{
   margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 2.5ch;
  letter-spacing: 2.6px;
}
